.overlay-bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	z-index: 1000; /* high z-index */
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}

.overlay-content {
	cursor: default;
	display: block;
	left: 50%;
	padding: 0;
	position: absolute;
	top: 200px;
	width: 70%;
	z-index: 10001;
	max-width: 900px;
	transform: translateX(-50%);
}

#pop-pic {
	display: block;
	text-align: center;
}
	
.close-btn {
	background: url(../images/close.png) no-repeat;
    border: medium none;
    clear: both;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: -35px;
    width: 77px;
}

.close-btn:hover {
	background: url(../images/close-hover.png) no-repeat;
}

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){

	.overlay-content {
		left: 0;
		margin: 0;
		width: 98%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px){
	.overlay-content {
		margin: 0 0 0 -30%;
	}
}