@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: 'Ropa Sans', sans-serif;
	src: url(../font/'Ropa Sans', sans-serif.ttf);
}

@font-face {
	font-family: 'Abel', sans-serif;
	src: url(../font/'Abel', sans-serif.ttf);
}

@font-face {
	font-family: DINPro-Medium;
	src: url(../font/DINPro-Medium.ttf);
}

ul, ol {
	list-style: none;
	padding: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	position: relative;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.clearboth {
	clear: both;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0;
}

#container {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
}

header {
	background: #3f3f3f;
	border-bottom: 3px solid #f26122;
	clear: both;
    display: block;
    float: left;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}

#header-wrap {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#right-head {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#footer {
	background: #f3f3f3;
	clear: both;
    display: block;
    float: left;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}

#footer-wrap {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#logo {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
}

#logo img {
	display: block;
    margin: 0 auto;
}

nav {
	clear: both;
	color: #fff;
    display: block;
    float: left;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

nav ul li {
	display: inline-block;
	position: relative;
}

/* Sub Menus */
nav li ul {
	background: #3f3f3f none repeat scroll 0 0;
    display: block;
    position: absolute;
    width: 120px;
    z-index: 9999;
	opacity: 0;
    top: 35px;
    visibility: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

nav li:hover ul {
	display: block;
	opacity: 1;
    top: 50px;
    visibility: visible;
}

nav li ul li {
	display: block;
	text-align: left;
	float: none;
    width: 100%;
}

nav a {
	color: #fff;
    display: inline-block;
    font-family: "Ropa Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 18px;
    padding: 10px;
	-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

nav li ul li a {
	font-family: "Abel",sans-serif;
    font-size: 14px;
    font-weight: 100;
}

nav a:hover {
	color: #f26122;
}

#search-wrap {
	clear: both;
    display: block;
    float: left;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

/** search field **/  
#search {
	display: inline-block;
    position: relative;
}
 
#s {
	border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: #989898;
    display: block;
    float: left;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
    padding: 8px 11px;
    width: 100px;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
 
 #s:hover {
	 width: 200px;
 }
 
.sbtn {
	background: none;
	border: medium none;
    color: #bcbcbc;
    cursor: pointer;
    display: block;
    float: left;
    margin-top: 3px;
    position: relative;
}

.search-image {
	display: block;
    float: left;
    height: 31px;
}

.clearable{
  background: #fff url(../images/clear.gif) no-repeat right -10px center;
}
.clearable.x  { background-position: right 10px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

.slider-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	background: #fff;
}

.slider{
	position: relative;
	width: 100%; 
	height: auto;
	margin: 0 auto;
	background: #fff;
}

.search-arrow {
	opacity: 0.6;
    position: absolute;
    right: 0;
    top: -39px;
}

#index-article-wrap {
	clear: both;
	float: left;
	margin-top: 25px;
	width: 100%;
	display: block;
	text-align: center;
}

.index-article {
	display: inline-block;
    margin-bottom: 50px;
    width: 195px;
}

.index-article img {	
	display: block;
    height: 130px;
}

.index-article p, .canal-article p {
	clear: both;
    color: #6e6e6e;
    display: block;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    height: 72px;
    line-height: 18px;
    margin-top: 3px;
    overflow: hidden;
    text-align: left;
}

.index-article a.index-article-title, .canal-article p.canal-article-title {
	clear: both;
    color: #2e2e2e;
    display: block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    height: 38px;
    line-height: 20px;
    margin-top: 15px;
    overflow: hidden;
    text-align: left;
}

.index-article a.index-article-title:hover {
	opacity: 0.5;
}

#content {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#canal-article-wrap {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    width: 100%;
}

.canal-article {
	display: inline-block;
    margin: 0 25px 30px;
    width: 194px;
}

.canal-article-image {	
	display: block;
    height: 194px;
    margin-bottom: 25px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}

.canal-article-image img {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.canal-article p {
	height: 108px;
}

.canal-article h1 {
	clear: both;
	color: #1292dc;
	display: block;
    font-family: 'Ropa Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
    text-align: left;
}

.canal-article h2 {
	clear: both;
    color: #f67300;
    display: block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 22px;
    line-height: normal;
    margin-bottom: 38px;
    text-align: left;
}

.canal-article a {
	clear: both;
    color: #3994fc;
    display: inline-block;
    float: left;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    margin-top: 25px;
    text-align: left;
}

.canal-article a::after {
	color: #a8a7a7;
    content: ">>";
    margin-left: 30px;
}

.canal-article-image a::after {
	color: #a8a7a7;
    content: "";
    margin-left: 0;
}

.canal-article a:hover {
	opacity: 0.5;
}

.canal-article a.index-article-title:hover {
	opacity: 0.5;
}

.canal-article p.canal-article-tag {
	clear: both;
    color: #f67300;
    display: block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 20px;
    line-height: normal;
    text-align: left;
}

.canal-article p.canal-article-title {
	height: 74px;
    line-height: 24px;
    margin-top: 5px;
}

#thumb-menu {
	background: -webkit-linear-gradient(#efefef, #fff, #fff, #efefef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#efefef, #fff, #fff, #efefef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#efefef, #fff, #fff, #efefef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#efefef, #fff, #fff, #efefef); /* Standard syntax (must be last) */
	clear: both;
    display: block;
    float: left;
    margin-top: 30px;
    padding: 30px 2%;
	text-align: center;
    width: 96%;
}

#thumb-menu-wrap {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}
	
#thumb-menu a {
	clear: both;
    display: inline-block;
    height: 96px;
    margin: 20px;
    text-align: center;
    width: 70px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

#thumb-menu a:hover {
	-webkit-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
}

#tabs-container, #tabs-container-product {
	clear: both;
    display: block;
    font-family: 'Ropa Sans', sans-serif;
    margin: 0 auto;
    width: 300px;
}

.tabs-menu, .tabs-review {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li, .tabs-review li {
    background-color: #e3e3e3;
	border-radius: 10px 10px 0 0;
    float: left;
    height: 30px;
    line-height: 34px;
    margin-right: 5px;
}

.tabs-menu li.current {
    position: relative;
    background-color: #c1c1c1;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-review li.current-review {
	position: relative;
    background-color: #202020;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-review li.current-review a {
	color: #fff;
}

.tabs-menu li a {
    padding: 10px 15px;
    color: #1292dc;
    text-decoration: none; 
}

.tabs-review li a {
    padding: 10px 20px;
    color: #262626;
    text-decoration: none; 
}

.tab {
    background-color: #fff;
    float: left;
    height: 350px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
    width: auto;
}

.review {
	font-family: 'Abel', sans-serif;
    height: auto;
    line-height: 24px;
    text-indent: 24px;
}

.tab-content, .tab-content-product {
    display: none;
    padding: 0;
    width: 300px;
}

#tab-1 {
 display: block;   
}

#foot-logo {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    padding: 0 2%;
    width: 96%;
}

#foot-menu {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    width: 100%;
}

#foot-menu ul {
	clear: both;
    display: inline-block;
    line-height: 20px;
    margin-top: 25px;
    text-align: left;
    vertical-align: top;
    width: 120px;
}

#foot-menu a {
	color: #707070;
    font-family: 'Abel', sans-serif;
    font-size: 13px;
}

#foot-menu a:hover {
	opacity: 0.5;
}

#foot-menu a.foot-menu-title {
	color: #707070;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 15px;
	font-weight: bold;
}

#social {
	clear: both;
    display: block;
    float: left;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

#social a {
	background: url(../images/social-sprite.png) no-repeat;
	display: inline-block;
    height: 51px;
    margin: 0 5px;
    text-indent: -9999px;
    width: 51px;
}

#social a.facebook {
	background-position: -1px -1px;
}
#social a.facebook:hover {
	background-position: -1px -53px;
}
#social a.twitter {
	background-position: -53px -1px;
}
#social a.twitter:hover {
	background-position: -53px -53px;
}
#social a.instagram {
	background-position: -105px -1px;
}
#social a.instagram:hover {
	background-position: -105px -53px;
}

#bottom {
	border-top: 1px solid #dcdbdb;
    clear: both;
    display: block;
    float: left;
    margin-top: 25px;
    padding: 20px 1% 0;
    width: 98%;
}

#copyright {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
}

#copyright a, #copyright p {
	color: #414242;
    display: inline-block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 10px;
    vertical-align: middle;
}

#copyright a:hover {
	opacity: 0.5;
}

#flag {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
}

#flag p {
	color: #414242;
    display: inline-block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 10px 10px 15px;
    vertical-align: middle;
}

#flag p::before {
	content: url("../images/flag.png");
    display: inline-block;
    margin-right: 10px;
    vertical-align: -18%;
}

#thumb-menu.thumb-menu-sub {
	background: #fff;
    margin: 30px 0;
    padding: 0 2%;
}

#sub-container {
	background: -webkit-linear-gradient(#e7e7e7 5%, #fff 10%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e7e7e7 5%, #fff 10%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e7e7e7 5%, #fff 10%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e7e7e7 5%, #fff 10%); /* Standard syntax (must be last) */
	clear: both;
    display: block;
    float: left;
    margin: 0;
    padding: 30px 2%;
    width: 96%;
}

#content-title {
	clear: both;
    display: block;
    float: left;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

#article-head {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
	position: relative;
}

#article-head img {
	margin: auto;
    position: relative;
    z-index: 0;
}

#article-head .article-head-content {
	bottom: 0;
    color: #000;
    display: block;
    padding: 0.5em;
}

p.article-head-content-title {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.2em;
	font-weight: bold;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

p.article-head-content-body {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1em;
    height: 72px;
    line-height: 18px;
    margin-top: 10px;
    overflow: hidden;
}

#article-head .article-head-content a {
	color: #000;
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    margin-top: 5px;
    padding: 5px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

#article-head .article-head-content a img {
	height: 30px;
    vertical-align: middle;
}

#article-head .article-head-content a:hover {
	margin-left: 20px;
}

#article-body {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
	text-align: left;
}

.article-body-item {
	clear: both;
    display: inline-block;
    margin-top: 70px;
    max-width: 420px;
	text-align: center;
    width: 100%;
}

#load-more {
	text-align: center;
}

.article-body-item img {
	max-width: 420px;
    width: 100%;
}

.article-body-item p.article-body-title {
	color: #262626;
    font-family: 'Abel', sans-serif;
    font-size: 36px;
    height: 76px;
    line-height: 36px;
    margin: 10px 0;
    overflow: hidden;
}

.article-body-item p.article-body-content {
	color: #151515;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    height: 120px;
    line-height: 24px;
    overflow: hidden;
}

.article-body-item a {
	color: #3994fc;
    display: inline-block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.article-body-item a:hover {
	opacity: 0.6;
}

.article-body-item a img {
	margin-left: 5px;
    vertical-align: middle;
    width: auto;
}

.load-more {
	clear: both;
	display: inline-block;
	margin-top: 50px;
	width: 100%;
    text-align: center;
}

.load-more .rotate {
	-webkit-animation-name: rotate;
	-ms-animation-name: rotate;
	animation-name: rotate;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}
 
@keyframes rotate {
    100% {
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }
}

.load-more p {
	color: #262626;
    display: block;
    font-family: 'Abel', sans-serif;
    margin-top: 5px;
}

#product-head {
	border-bottom: 1px solid #d0d0d0;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
	display: block;
}

#product-banner {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#product-body {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    width: 100%;
}

#product-title {
	clear: both;
    display: block;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

#product-filter {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
}

#product-filter p {
	color: #3f3f3f;
	float:left;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
	margin-right: 20px;
}

#product-filter select {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    height: 29px;
    margin-top: -5px;
    padding: 5px;
    width: 150px;
}

#product-filter option {
    border-bottom: 1px solid #d0d0d0;
    padding: 5px 10px;
}

#product-filter option:last-child {
	border-bottom: none;
}

.product-item {
	border-bottom: 1px solid #d0d0d0;
    clear: both;
    display: inline-block;
    margin: 0;
    padding: 25px 20px 10px;
    width: 200px;
}

.product-item-image {
	display: block;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 200px;
}

.product-item-image img {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.product-item a {
	color: #0061d4;
	display: block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
    height: 48px;
    line-height: 24px;
    margin-top: 10px;
    overflow: hidden;
}

.product-item a:hover {
	opacity: 0.6;
}

#product-detail-review {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
}

#review-image {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
}

#review-content {
	clear: both;
	float: left;
	margin-top: 50px;
	width: 100%;
	display: block;
}

#review-content-title {
	clear: both;
    color: #fe6b12;
    display: block;
    float: left;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 0;
    padding: 0 2% 20px;
    width: 96%;
}

#share-product {
	clear: both;
	float: left;
	margin-top: 20px;
	width: 100%;
	display: block;
}

#share-product .share-media {
	display: inline-block;
    margin: 0 10px;
}

div.review-tab-image {
	display: block;
    float: left;
    height: 80px;
    margin: 20px 10px;
    position: relative;
    width: 80px;
}

div.review-tab-image img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#product-detail-spec {
	border-top: 1px solid #ccc;
    clear: both;
    display: block;
    float: left;
    margin-top: 50px;
    padding: 30px 2% 10px;
    text-align: left;
    width: 96%;
    font-family: 'Abel', sans-serif;
    line-height: 20px;
    font-size: 16px;
    text-indent: 24px;
}

ul.review-spec {
	color: #53575f;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 600;
    line-height: 22px;
}

ul.review-spec-sub {
	color: #53575f;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0 15px;
}

ul.review-spec-sub li {
	padding-left: 20px;
}

ul.review-spec-sub li::before {
	content: "•";
	color: #e76800;
	margin-right: 10px;
}

#product-detail-video {
	clear: both;
	float: left;
	margin-top: 50px;
	width: 100%;
	display: block;
}

#product-video-title {
	clear: both;
    color: #ff5a00;
    display: block;
    float: left;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    width: 100%;
}

#product-video {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	display: block;
}

#product-slider {
	clear: both;
    display: block;
    float: left;
    margin-top: 50px;
    width: 100%;
}

a.product-slider-name {
	color: #0f6fd6;
    display: block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-top: 15px;
}

#article-slideshow {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#article-detail-head, #article-detail-content {
	clear: both;
    display: block;
    float: left;
	font-family: 'Abel', sans-serif;
    margin: 0;
	text-align: left;
    width: 100%;
}

#article-detail-head p {
	display: block;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
    text-indent: 36px;
}

#article-detail-head p.article-detail-date {
	font-size: 24px;
	text-indent: 0;
	line-height: normal;
}

#article-detail-head h1.article-detail-title {
	color: #4cb5fe;
    display: block;
    font-size: 36px;
    line-height: 40px;
    margin-top: 10px;
}

#article-detail-content p {
	display: block;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    text-indent: 36px;
}

#other-articles {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#other-articles-head {
	border-bottom: 1px solid #afadae;
    clear: both;
    display: block;
    float: left;
    font-family: 'Abel', sans-serif;
    font-size: 26px;
    margin-top: 30px;
	padding: 10px 0;
    text-align: left;
    width: 100%;
}

.shoplearn-item {
	clear: both;
    display: inline-block;
    margin: 0;
    max-width: 500px;
    padding: 20px;
    text-align: left;
}

.shop-image {
	clear: both;
    display: block;
    float: left;
    margin-right: 3%;
    width: 20%;
}

.shop-content {
	display: block;
    float: left;
    margin: 0;
    width: 77%;
}

.shop-title {
	clear: both;
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.shop-description {
	clear: both;
    display: block;
    float: left;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    text-indent: 24px;
    width: 100%;
}

#about-video {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#about-head {
	clear: both;
    display: block;
    float: left;
    font-family: 'Ropa Sans', sans-serif;
    margin-top: 20px;
    text-align: left;
    width: 100%;
}

#about-head h1 {
	font-size: 34px;
    line-height: 34px;
    margin-top: 10px;
}

#about-head p {
	font-size: 18px;
    line-height: 22px;
    margin-top: 15px;
    text-indent: 24px;
}

#about-body {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    text-align: left;
    width: 100%;
}

#about-content {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#about-content p {
	font-family: 'Abel', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
    text-indent: 24px;
}

#about-content img {
	display: block;
    margin: 30px auto 0;
}

#about-history {
	clear: both;
    display: block;
    float: left;
    margin-top: 30px;
    padding: 0 2%;
    width: 96%;
}

#about-history h1 {
	clear: both;
    display: block;
    float: left;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 26px;
    margin: 0;
    width: 100%;
}

table.table-history {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
    clear: both;
    display: block;
    float: left;
    margin-top: 30px;
    width: 100%;
}

table.table-history td {
	border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
}

#store-img-wrap {
	clear-both;
	float: left;
	margin: 0;
	display: block;
	width: 100%;
}

#store-image {
	clear: both;
	display: inline-block;
	margin: 20px 0;
	max-width: 500px;
	width: 100%;
}

#store-location {
	background: #f5f5f5;
    clear: both;
    display: block;
    float: left;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
    padding: 4%;
	text-align: center;
    width: 92%;
}

#store-location h1 {
	font-family: 'Ropa Sans', sans-serif;
    font-size: 32px;
}

.location {
	clear: both;
    display: inline-block;
    margin-top: 50px;
    max-width: 300px;
    padding: 0 2%;
    width: 96%;
}

#map-wrap {
	clear-both;
	float: left;
	margin: 0;
	display: block;
	width: 100%;
}

#map {
	background: #f5f5f5;
    border: 20px solid #f5f5f5;
    box-sizing: border-box;
    clear: both;
    display: inline-block;
    height: 0;
    margin: 30px 0;
    max-width: 500px;
    overflow: hidden;
    padding-bottom: 400px;
    position: relative;
    width: 100%;
}

#map p {
	font-family: "Abel",sans-serif;
    font-size: 20px;
}

#map iframe {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
}

#contact-head {
	clear: both;
    display: block;
    float: left;
    font-family: 'Abel', sans-serif;
    margin-top: 30px;
    text-align: left;
    width: 100%;
}

#contact-head h1 {
	font-size: 30px;
}

#contact-head p {
	font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
}

#contact-body {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#contact-body form#contact_us {
	clear: both;
    display: block;
    float: left;
    font-family: 'Abel', sans-serif;
    margin: 0;
    text-align: left;
    width: 100%;
}

#contact-body form#contact_us ul, #contact-body form#contact_us ul li {
	clear: both;
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

#contact-body form#contact_us label {
	clear: both;
    display: block;
    float: left;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

#contact-body form#contact_us input[type="text"], #contact-body form#contact_us input[type="email"],
#contact-body form#contact_us textarea {
	border: 1px solid #bababa;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    clear: both;
    display: block;
    float: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.captcha {
	display: block;
    margin-top: 50px;
}

#contact-body form#contact_us button {
	background: #c2c7ca none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    box-shadow: none;
    display: block;
    float: right;
    font-family: 'Ropa Sans', sans-serif;
    height: 34px;
    line-height: 38px;
    margin-top: 30px;
    width: 155px;
}

#contact_address {
	clear: both;
    display: block;
    float: left;
    font-family: 'Ropa Sans', sans-serif;
    margin-top: 30px;
    padding: 0 2%;
    text-align: left;
    width: 96%;
}

#contact_address h1 {
	font-size: 24px;
    margin-bottom: 15px;
}

#contact_address p {
	font-family: 'Abel', sans-serif;
    font-size: 18px;
    margin-top: 5px;
	line-height: 22px;
}

#contact_address a {
	clear: both;
    display: block;
    float: left;
    margin: 30px 0 30px 50px;
    text-align: center;
}
#contact_address a:hover {
	opacity: 0.7;
}

#contact_address img {
	display: block;
}

.product_pit-item {
	clear: both;
    display: block;
    float: left;
    margin-top: 50px;
    width: 100%;
}

.product_pit-title {
	border-bottom: 1px solid #777;
    display: block;
    float: left;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}

.product_pit-image {
	clear: both;
    display: block;
    float: left;
    margin-top: 20px;
    width: 100%;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {	
	#thumb-menu a {
		margin: 20px 25px;
	}
	
	#foot-menu ul:last-child {
		visibility: hidden;
    	width: 0;
	}
	
	#article-head .article-head-content {
		padding: 1.5em;
	}
	
	p.article-head-content-title {
		font-size: 2em;
		height: 66px;
		line-height: 32px;
		width: 50%;
	}
	
	p.article-head-content-body {
		width: 50%;
	}
	
	#article-head .article-head-content a {
		font-size: 1.3em;
	}
	
	#product-title {
		width: auto;
	}
	
	#product-filter {
		clear: none;
		float: right;
		padding-top: 50px;
		width: auto;
	}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {	
	#header-wrap {
		float: none;
		margin: 0 auto;
		max-width: 980px;
	}
	
	#logo {
		width: auto;
	}
	
	#right-head {
		clear: none;
		display: block;
		float: right;
		margin: 0;
		width: auto;
	}
	
	#search-wrap {
		margin-top: 0;
	}
	
	#search {
		float: right;
	}
	
	nav {
		margin-top: 20px;
		width: auto;
	}
	
	#thumb-menu-wrap, #content, #footer-wrap {
		float: none;
		margin: 0 auto;
		max-width: 980px;
	}
	
	#thumb-menu a {
		margin: 20px 10px;
	}
	
	#thumb-menu, #index-article-wrap {
		margin-top: 60px;
	}
	
	.canal-article {
		margin: 0 30px 30px 0;
	}
	
	#tabs-container {
		clear: none;
		float: right;
	}
	
	#foot-logo {
		padding: 0;
		width: 100%;
	}

	#canal-article-wrap, #foot-menu, #copyright {
		width: auto;
	}
	
	#social, #flag {
		clear: none;
		float: right;
		width: auto;
	}
	
	#content-title {
		float: none;
		margin: 0 auto 20px;
		max-width: 980px;
	}
	
	#article-head, #article-body {
		float: none;
		margin: 0 auto;
		max-width: 980px;
	}
	
	p.article-head-content-title {
		font-size: 2.5em;
		max-height: 92px;
		line-height: 46px;
		width: 100%;
		height: auto;
	}
	
	p.article-head-content-body {
		font-size: 1.3em;
		height: auto;
		max-height: 96px;
		line-height: 24px;
		width: 100%;
	}
	
	#article-head .article-head-content a img {
		height: 50px;
	}
	
	.article-body-item {
		clear: none;
		margin: 100px 30px 0;
	}
	
	#product-head, #product-banner, #product-body {
		float: none;
		margin: 0 auto 30px;
		max-width: 980px;
		padding-bottom: 0;
	}
	
	.product-item {
		clear: none;
		float: left;
		padding: 10px 2%;
		width: 21%;
	}
	
	#review-image {
		width: 50%;
	}
	
	#review-content {
		clear: none;
		margin-top: 0;
		padding-left: 2%;
		text-align: left;
		width: 48%;
	}
	
	#tabs-container-product {
		width: 100%;
	}
	
	.tab-content-product {
		width: 100%;
	}
	
	#article-detail-content {
		padding-right: 2%;
		width: 48%;
	}
	
	#other-articles {
		clear: none;
		width: 50%;
	}
	
	#other-articles-head {
		margin-top: 0;
	}
	
	#other-articles .article-body-item {
		margin: 20px;
	}
	
	#about-video, #about-head, #about-body {
		float: none;
		margin: 0 auto;
		max-width: 980px;
	}

	#about-content {
		width: 50%;
	}
	
	#about-history {
		clear: none;
		width: 46%;
	}
	
	#contact-head, #contact-body {
		float: none;
		margin: 30px auto;
		max-width: 980px;
	}
	
	#contact-body form#contact_us {
		margin-right: 2%;
		width: 68%;
	}
	
	#contact_address {
		border-left: 1px solid #000;
		box-sizing: border-box;
		clear: none;
		width: 30%;
	}
	
	#store-image {
		margin: 20px;
	}
	
	#map {
		margin: 30px 20px 0;
	}
}