<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Raskhasya</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/shorthand.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/swiper.min.css" rel="stylesheet">
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <!-- <link href="http://manos.malihu.gr/repository/custom-scrollbar/demo/examples/style.css" rel="stylesheet"> -->



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="tagline">
        <div class="container">
            <h1 class="fs24 text-center mb15 mt15"><span class="">RASKHASYA GROUP</span>, UNTUK INDONESIA LEBIH BAIK</h1>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="container-navbar">
                    <ul class="nav navbar-nav">
                        <li class="first-child active"><a href="#">HOME </a></li>
                        <li><a href="#">PROFILE</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ARSITEKTUR <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">SUBMENU 1</a></li>
                                <li><a href="#">SUBMENU 2</a></li>
                                <li><a href="#">SUBMENU 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">SIPIL</a></li>
                        <li><a href="#">ALAT BERAT & PENDUKUNG</a></li>
                        <li><a href="#">MATERIAL</a></li>
                        <li><a href="#">TEKNOLOGI</a></li>
                        <li><a href="#">HUBUNGI KAMI</a></li>
                        <li><a href="#">TAMBAH</a></li>
                        <li><a href="#">LAGI TAMBAH</a></li>
                        <li><a href="#">MENU BARU</a></li>
                        <li><a href="#">KATEGORI BARU</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ARSITEKTUR <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">SUBMENU 1</a></li>
                                <li><a href="#">SUBMENU 2</a></li>
                                <li><a href="#">SUBMENU 3</a></li>
                            </ul>
                        </li>
                        <li class="last-child"><a href="#">HUBUNGI KAMI</a></li>
                    </ul>
                </div> <!-- end of container-navbar -->
            </div><!-- /.navbar-collapse -->
             <!-- <div class="left-nav">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
            </div>
            <div class="right-nav">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
            </div> -->
        </div><!-- /.container-fluid -->
    </nav>
    <section class="section-banner relative">
        <div class="compo-banner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/Logo-Raskhasya.png" alt="" class="logo-banner img-responsive">
                        <div class="bg-tipis kontak-banner">
                            <p>Jalan Jenderal Sudirman Timur No.65 Jakarta Selatan</p>
                            <p>Email: raskhasyagroup@gmail.com</p>
                            <p>Telepon: 0812 1975 0000</p>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="bg-tipis mt20 compo-text">

                            <h3 class="mt0 judul-compo-banner">Raskhasya Group</h3>
                            <p class="mb10">Merupakan sebuah group yg terdiri dari para Arsitek, Ahli Sipil, Konsultan Perencana dan Konsultan Pengawas, Owner dari pemilik alat berat, Pemilik alat pendukung pekerjaan Konstruksi, Pemilik Precast, Pemilik Paving Block, Pemilik AMP Aspalt, Supplier Besar Readymix, Material Bangunan dan para tukang yang sudah profesional.</p>

                            <p class="mb10">Group ini bergabung dengan tujuan untuk mempermudah pekerjaan kami, mempermudah pekerjaan pemerintah dan mempermudah pekerjaan para klien kami.</p>

                            <p class="mb10">Bergabungnya kami dalam satu group akan memberikan dampak luar biasa pada kwalitas pekerjaan yang dipercayakan kepada kami. Dan dengan biaya yang lebih baik bagi semua rekanan kami.</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="swiper-container slider-banner">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="img-responsive" src="img/slider.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img class="img-responsive" src="img/slider.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img class="img-responsive" src="img/slider.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img class="img-responsive" src="img/slider.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img class="img-responsive" src="img/slider.jpg" alt="">
            </div>
        </div>
         
        <div class="swiper-pagination"></div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </section>

    <section class="section-produk bg-f7 pt30 pb30">
        <div class="container">
            <h3 class="text-center mt0 "><span class="bg-title-produk">Produk Kami</span></h3>
            <div class="line-title"></div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Desain Interior</p>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk3.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Desain Eksterior</p>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk2.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Arsitektur</p>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk4.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Alat Berat</p>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk5.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Teknologi</p>
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk6.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Material</p>
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Desain Interior</p>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk3.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Desain Eksterior</p>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk2.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Arsitektur</p>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk4.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Alat Berat</p>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk5.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Teknologi</p>
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2">
                    <div class="list-produk">
                        <a href="">
                            <div class="img">
                                <img src="img/produk6.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="desc p10">
                                <div class="name">
                                    <p class="mb0">Material</p>
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of section-produk -->


    <section class="section-customer pt30 pb30">
        <div class="container">
            <h3 class="text-center mt0 "><span class="bg-title-customer">Produk Sponsor</span></h3>
            <div class="line-title line-title-customer"></div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="list-customer">
                        <div class="img">
                            <img src="img/bakrie.png" alt="" class="img-responsive">
                        </div>
                        <div class="name-customer">
                            Bakrie Group
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="list-customer">
                        <div class="img">
                            <img src="img/bakrie.png" alt="" class="img-responsive">
                        </div>
                        <div class="name-customer">
                            Bakrie Group
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="list-customer">
                        <div class="img">
                            <img src="img/bakrie.png" alt="" class="img-responsive">
                        </div>
                        <div class="name-customer">
                            Bakrie Group
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="list-customer">
                        <div class="img">
                            <img src="img/bakrie.png" alt="" class="img-responsive">
                        </div>
                        <div class="name-customer">
                            Bakrie Group
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="list-customer">
                        <div class="img">
                            <img src="img/bakrie.png" alt="" class="img-responsive">
                        </div>
                        <div class="name-customer">
                            Bakrie Group
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="list-customer">
                        <div class="img">
                            <img src="img/bakrie.png" alt="" class="img-responsive">
                        </div>
                        <div class="name-customer">
                            Bakrie Group
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    
    <footer class="p15">
        <div class="text-center">
            <p class="m0">copyright by Raskhasya Group 2016</p>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script>
             
        $(".container-navbar").mCustomScrollbar({
            axis:"x",
            theme:"dark-thin",
            autoExpandScrollbar:true,
            advanced:{autoExpandHorizontalScroll:true}
        });
                
              
        var swiper = new Swiper('.slider-banner', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            onInit:function(){
                var tinggislide = $('.section-banner').height()-60;
                $('.compo-text').css('max-height',tinggislide);
                $('.logo-banner').width(300);
                $('.kontak-banner').css('margin-top','20px');
            }
        });


        // $('.navbar-nav .dropdown').on('click',function(){
        //     var marlef = $(this).siblings('.first-child').position().left;

        //     if($(this).hasClass('open')){
        //         $('.navbar-nav').removeAttr('style');
        //     }
        //     else{
        //         $('.navbar-nav').height(300);
        //     }
        // });

        // var marlef = $('.navbar-nav .first-child').position().left;
        // $('.right-nav').on('click',function(e){

        //     $('.navbar-nav ').animate({
        //         scrollLeft:600 
        //     },500);
            
        // });
        // $('.left-nav').on('click',function(){
        //     $('.navbar-nav ').animate({
        //         scrollLeft:-400
        //     },500);
        // });

        
        $(document).ready(function(){

            myFunction();
            function myFunction() {
                setTimeout(function(){ 
                    smallwindow();
                }, 500);
            }
            
            $(window).resize(function(){
                smallwindow();
            });

            function smallwindow(){
                if($(document).width() > 980){
                }
                else{
                    var tinggislide = $('.section-banner').height()-60;
                    $('.compo-text').css('max-height',tinggislide);
                    $('.logo-banner').width(300);
                    $('.kontak-banner').css('margin-top','20px');
                }
            }

        });

    </script>
  </body>
</html>